.dashboard-side-bar-closed-child {
  position: absolute;
  top: 118px;
  left: 353px;
  background-color: var(--color-gainsboro-200);
  width: 1509px;
  height: 913px;
  display: none;
}
.profile-actions-child {
  height: 70px;
  width: 1796px;
  position: relative;
  background-color: var(--color-darkgray-100);
  display: none;
  max-width: 100%;
}
.full-screen-icon1 {
  width: 36px;
  height: 36px;
  position: relative;
  z-index: 1;
}
.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.notification-icon1 {
  width: 36px;
  height: 36px;
  position: relative;
  z-index: 1;
}
.action-buttons1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-mid) 0 0;
}
.profile-icon1 {
  height: 55px;
  width: 55px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.profile-actions {
  position: absolute;
  top: 0;
  left: 23px;
  background-color: var(--color-darkgray-100);
  width: 1796px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-42xl) var(--padding-6xs);
  box-sizing: border-box;
  gap: var(--gap-17xl);
  max-width: 100%;
}
.profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-dimgray);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.arrow-right-icon {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 36px;
  height: 36px;
  overflow: hidden;
  z-index: 2;
}
.navigation {
  position: absolute;
  top: 13px;
  left: 0;
  width: 45px;
  height: 45px;
}
.profile-actions-parent {
  position: absolute;
  top: 0;
  left: 101px;
  width: 1819px;
  height: 70px;
  max-width: 100%;
}
.revenue-container-child {
  width: 354px;
  height: 337px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-silver-200);
  display: none;
  max-width: 100%;
}
.divider-child {
  height: 2px;
  width: 264.5px;
  position: relative;
  z-index: 1;
}
.divider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xl) 0 var(--padding-8xl);
}
.class-report-child,
.revenue-container {
  border-radius: var(--br-xl);
  background-color: var(--color-silver-200);
}
.revenue-container {
  position: absolute;
  top: 118px;
  left: 738px;
  width: 354px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-mid) var(--padding-sm);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  max-width: 100%;
}
.class-report-child {
  align-self: stretch;
  height: 571px;
  position: relative;
  display: none;
}
.class-wise-report1 {
  position: relative;
  z-index: 1;
}
.report-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-4xl);
}
.class1 {
  position: relative;
  display: inline-block;
  min-width: 39px;
  z-index: 1;
}
.header-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.present-today1 {
  position: relative;
  display: inline-block;
  min-width: 107px;
  z-index: 1;
}
.header-items1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.absent-today1 {
  position: relative;
  display: inline-block;
  min-width: 102px;
  z-index: 1;
}
.header-items2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.on-leave1 {
  position: relative;
  display: inline-block;
  min-width: 70px;
  z-index: 1;
}
.header-items3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.fees-monthly1 {
  position: relative;
  display: inline-block;
  min-width: 109px;
  z-index: 1;
}
.header-items4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.balance1,
.paid-amount1 {
  position: relative;
  display: inline-block;
  min-width: 97px;
  z-index: 1;
}
.balance1 {
  min-width: 59px;
}
.report-table,
.table-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.table-header {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.report-table {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-base) 0 var(--padding-mid);
  box-sizing: border-box;
}
.class-report,
.class-report-list,
.report-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.class-report-list {
  align-self: stretch;
  align-items: flex-start;
}
.class-report,
.report-data {
  max-width: 100%;
}
.report-data {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-7xs);
  font-size: var(--extra-small-heading-size);
}
.class-report {
  position: absolute;
  top: 496px;
  left: 354px;
  border-radius: var(--br-xl);
  background-color: var(--color-silver-200);
  width: 866px;
  align-items: flex-start;
  padding: var(--padding-mid) 0 var(--padding-10xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.dashboard-side-bar-closed {
  width: 100%;
  height: 1143px;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--small-heading-size);
  color: var(--color-black);
  font-family: var(--extra-small-heading);
}
@media screen and (max-width: 750px) {
  .table-header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .class-wise-report1 {
    font-size: var(--extra-small-heading-size);
  }
  .dashboard-side-bar-closed {
    height: auto;
    min-height: 1143;
  }
}
