.collection {
  position: relative;
  display: inline-block;
  min-width: 74px;
  z-index: 1;
}
.collection-amount-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xl) 0 var(--padding-8xl);
}
.rupee-currency-icon6 {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.currency-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.collection-amount {
  position: relative;
  display: inline-block;
  min-width: 95px;
  z-index: 1;
}
.currency-icon-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
  text-align: left;
  font-size: var(--medium-heading-size);
}
.collected-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.collected-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-16xl);
  box-sizing: border-box;
  min-width: 126px;
  text-align: center;
  font-size: var(--extra-small-heading-size);
  color: var(--color-black);
  font-family: var(--extra-small-heading);
}
@media screen and (max-width: 750px) {
  .collection-amount {
    font-size: var(--font-size-5xl);
  }
}
@media screen and (max-width: 675px) {
  .collected-amount {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .collection-amount {
    font-size: var(--font-size-lg);
  }
}
